In [14]:
import pandas as pd
import numpy as np

data = {'city': ['Mumbai', 'Mumbai', 'Mumbai', 'Hyderabad', 'Hyderabad', 'Hyderabad'],
        'year': [2010, 2011, 2012, 2010, 2011, 2012,],
        'population': [10.0, 10.1, 10.2, 5.2, 5.3, 5.5]}

df_ejercicios = pd.DataFrame(data,index = ['one', 'two', 'three', 'four', 'five', 'six'])
df_ejercicios

            city  year  population
one       Mumbai  2010        10.0
two       Mumbai  2011        10.1
three     Mumbai  2012        10.2
four   Hyderabad  2010         5.2
five   Hyderabad  2011         5.3
six    Hyderabad  2012         5.5

**Ejercicio 1.** Escribe un programa que muestre las 3 primeras filas de df_ejercicios

In [3]:
df_ejercicios.head(3)

         city  year  population
one    Mumbai  2010        10.0
two    Mumbai  2011        10.1
three  Mumbai  2012        10.2

**Ejericicio 2 .** Crea una función que dado un dataframe y el nombre de una columna, muestre los valores de dicha columna.

In [6]:
def mostrar_columna(dataframe, columna):
    # Verifica si la columna existe en el DataFrame
    if columna in dataframe.columns:
        # Muestra los valores de la columna
        print(dataframe[columna])
    else:
        print(f"La columna '{columna}' no existe en el DataFrame.")

mostrar_columna(df_ejercicios, 'city')

one         Mumbai
two         Mumbai
three       Mumbai
four     Hyderabad
five     Hyderabad
six      Hyderabad
Name: city, dtype: object

**Ejercicio 3.** Crea una función que dado un dataframe y el nombre de un índice, muestre los valores de dicha fila.

In [9]:
def mostrar_fila(dataframe, indice):
    # Verifica si el índice existe en el DataFrame
    if indice in dataframe.index:
        # Muestra los valores de la fila correspondiente al índice
        print(dataframe.loc[indice])
    else:
        print(f"El índice '{indice}' no existe en el DataFrame.")

mostrar_fila(df_ejercicios, 'two')

city          Mumbai
year            2011
population      10.1
Name: two, dtype: object

**Ejercicio 4.** Crea una función que dado un dataframe y un array de índices, muestre los valores de dichas filas.

In [13]:

def mostrar_filas(dataframe, indices):
    # Verifica si los índices existen en el DataFrame
    indices_existentes = [indice for indice in indices if indice in dataframe.index]
    indices_no_existentes = [indice for indice in indices if indice not in dataframe.index]

    # Muestra las filas correspondientes a los índices existentes
    if indices_existentes:
        print(dataframe.loc[indices_existentes])
    
    # Mensaje para los índices que no existen en el DataFrame
    if indices_no_existentes:
        print(f"Los siguientes índices no existen en el DataFrame: {indices_no_existentes}")


mostrar_filas(df_ejercicios, ['one', 3, 'three', 7, 9])

         city  year  population
one    Mumbai  2010        10.0
three  Mumbai  2012        10.2
Los siguientes índices no existen en el DataFrame: [3, 7, 9]

**Ejercicio 5.** Escribe un programa que modifique la columna population con valores obtenidos aleatoriamente entre 5 y 10.

In [21]:
# Supongamos que df_ejercicios es el DataFrame con la columna 'population'
# Genera valores aleatorios entre 5 y 10 para toda la columna 'population'
df_ejercicios['population'] = np.random.uniform(5, 10, size=len(df_ejercicios))
df_ejercicios.head()

            city  year  population
one       Mumbai  2010    8.119936
two       Mumbai  2011    8.646731
three     Mumbai  2012    5.094922
four   Hyderabad  2010    7.484502
five   Hyderabad  2011    8.742753

**Ejercicio 6.** Elimina la columna population.

In [22]:
# Elimina la columna 'population' del DataFrame
df_ejercicios = df_ejercicios.drop('population', axis=1)
df_ejercicios.head()

            city  year
one       Mumbai  2010
two       Mumbai  2011
three     Mumbai  2012
four   Hyderabad  2010
five   Hyderabad  2011