# Manipulación de datos (Ejercicios 1)

In [10]:
from sklearn.datasets import load_iris
df_iris = load_iris(as_frame=True).frame
df_iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

**Ejercicio 1.** Visualiza las primeras 10 ocurrencias del dataset.

In [11]:
df_iris.head(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
5,5.4,3.9,1.7,0.4,0
6,4.6,3.4,1.4,0.3,0
7,5.0,3.4,1.5,0.2,0
8,4.4,2.9,1.4,0.2,0
9,4.9,3.1,1.5,0.1,0

**Ejercicio 2.** Muestra información general del dataset como el número de entradas, el nombre de las columnas, el número de nulos, y el tipo de cada columna. *Utliza únicamente una función*

In [3]:
def info(df):
    print('Número de entradas: ', df.shape[0])
    print('Número de columnas: ', df.shape[1])
    print('Número de nulos: ', df.isnull().sum().sum())
    print('Tipo de cada columna: \n', df.dtypes)

info(df_iris)
# .sum() calcula el número de valores nulos por columna (ya que True cuenta como 1 y False como 0).
# .sum().sum() suma los valores nulos de todas las columnas, obteniendo el total de valores nulos en el DataFrame.

Número de entradas:  150
Número de columnas:  5
Número de nulos:  0
Tipo de cada columna:
 sepal length (cm)    float64
sepal width (cm)     float64
petal length (cm)    float64
petal width (cm)     float64
target                 int64
dtype: object

**Ejercicio 3.** En la columna target, el número 0 corresponde a la etiqueta 'setosa', el 1 a 'versicolor' y el 2 a 'virginica'. Modifica el dataset para que aparezcan los nombres en vez de los números.

In [4]:
# Crear un diccionario para mapear los valores numéricos a los nombres de las clases
label_mapping = {0: 'setosa', 1: 'versicolor', 2: 'virginica'}
# Reemplazar los valores de la columna target con los nombres de las clases
df_iris['target'] = df_iris['target'].map(label_mapping)

# Mostrar los primeros registros del dataframe modificado
print(df_iris['target'])

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: target, Length: 150, dtype: object

**Ejercicio 4.** Utilizando LabelEncoder transforma la columna target a valores numéricos.

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
# Crear un LabelEncoder
label_encoder = LabelEncoder()

# Transformar la columna target (valores categóricos a numéricos)
df_iris['target'] = label_encoder.fit_transform(df_iris['target'])
print(df_iris['target'].head())

# Mostrar la relación entre los valores numéricos y las clases originales
print("Clases originales:", label_encoder.classes_)

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64
Clases originales: ['setosa' 'versicolor' 'virginica']

**Ejercicio 5.** Utilizando LabelEncoder vuelve a transformarlo en características nominativas. Posteriormente, dejalo con números otra vez.

In [7]:
# Mostrar las primeras filas del dataframe original
print("Datos originales:")
print(df_iris['target'].head())

# Inicializar el LabelEncoder
label_encoder = LabelEncoder()

# Convertir todas las columnas (que sean categóricas) en etiquetas numéricas
df_iris['target'] = label_encoder.fit_transform(df_iris['target'])

# Mostrar los datos con la columna categórica convertida
print("\nDatos con 'target' transformada a numérica:")
print(df_iris['target'].head())

# Convertir la columna numérica de vuelta a sus valores originales
df_iris['target'] = label_encoder.inverse_transform(df_iris['target'])

# Mostrar los datos con la columna 'target' restaurada a su forma original
print("\nDatos con 'target' restaurada a la forma original:")
print(df_iris['target'].head())

Datos originales:
0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

Datos con 'target' transformada a numérica:
0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

Datos con 'target' restaurada a la forma original:
0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

**Ejercicio 6.** Comprueba el número de ocurrencias de cada uno de los valores de la característica *target*.

In [8]:
# Comprobar el número de ocurrencias de cada uno de los valores de 'target'
target_counts = df_iris['target'].value_counts()

# Mostrar las ocurrencias de cada valor de 'target'
print(target_counts)

target
0    50
1    50
2    50
Name: count, dtype: int64

**Ejercicio 7.** Identifica aquellas columnas que tengan algún valor nulo.

In [9]:
# Identificar las columnas que tienen valores nulos
null_columns = df_iris.isnull().sum()

# Mostrar las columnas con valores nulos
print(null_columns[null_columns > 0])

Series([], dtype: int64)

**Ejercicio 8.** Crea una columna llamada 'sepal total' que contenga el resultado de multiplicar 'sepal length' por 'sepal width'

In [13]:
df_iris['sepal total'] = df_iris['sepal length (cm)'] * df_iris['sepal width (cm)']
df_iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,sepal total
0,5.1,3.5,1.4,0.2,0,17.85
1,4.9,3.0,1.4,0.2,0,14.70
2,4.7,3.2,1.3,0.2,0,15.04
3,4.6,3.1,1.5,0.2,0,14.26
4,5.0,3.6,1.4,0.2,0,18.00

**Ejercicio 9.** Elimina la columna que hemos creado anteriormente.

In [ ]:
# Eliminar la columna 'sepal total' del DataFrame
df_iris = df_iris.drop(columns=['sepal total'])

**Ejercicio 10.** Normaliza entre 0 y 1 los valores de todas las columnas. No modifiques el anterior dataframe, y crea uno nuevo indicando que está normalizado, por ejemplo con el nombre 'df_iris_normalizado'

In [14]:
from sklearn.preprocessing import MinMaxScaler

# Crear una instancia de MinMaxScaler
scaler = MinMaxScaler()

# Seleccionar todas las columnas numéricas del DataFrame
columnas_numericas = df_iris.select_dtypes(include=['float64', 'int64']).columns

# Aplicar la normalización solo a las columnas numéricas
df_iris_normalizado = df_iris.copy()  # Crear una copia para no modificar el original
df_iris_normalizado[columnas_numericas] = scaler.fit_transform(df_iris[columnas_numericas])

# Mostrar las primeras filas del DataFrame normalizado
df_iris_normalizado.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,sepal total
0,0.222222,0.625000,0.067797,0.041667,0.0,0.392108
1,0.166667,0.416667,0.067797,0.041667,0.0,0.234765
2,0.111111,0.500000,0.050847,0.041667,0.0,0.251748
3,0.083333,0.458333,0.084746,0.041667,0.0,0.212787
4,0.194444,0.666667,0.067797,0.041667,0.0,0.399600

**Ejercicio 11.** Estandariza los valores de todas las columnas. No modifiques el anterior dataframe, y crea uno nuevo indicando que está estandarizado, por ejemplo con el nombre 'df_iris_estandarizado'

In [15]:
from sklearn.preprocessing import StandardScaler

# Crear una instancia de StandardScaler
scaler = StandardScaler()

# Seleccionar todas las columnas numéricas del DataFrame
columnas_numericas = df_iris.select_dtypes(include=['float64', 'int64']).columns

# Aplicar la estandarización solo a las columnas numéricas
df_iris_estandarizado = df_iris.copy()  # Crear una copia para no modificar el original
df_iris_estandarizado[columnas_numericas] = scaler.fit_transform(df_iris[columnas_numericas])

# Mostrar las primeras filas del DataFrame estandarizado
df_iris_estandarizado.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,sepal total
0,-0.900681,1.019004,-1.340227,-1.315444,-1.224745,0.008098
1,-1.143017,-0.131979,-1.340227,-1.315444,-1.224745,-0.932024
2,-1.385353,0.328414,-1.397064,-1.315444,-1.224745,-0.830551
3,-1.506521,0.098217,-1.283389,-1.315444,-1.224745,-1.063343
4,-1.021849,1.249201,-1.340227,-1.315444,-1.224745,0.052866

**Ejercicio 12.** Describe las variables del dataframe sin normalizar, del dataframe normalizado y del dataframe estandarizado.

In [16]:
# Describir el DataFrame sin normalizar
print("Descripción del DataFrame original:")
print(df_iris.describe())

# Describir el DataFrame normalizado
print("\nDescripción del DataFrame normalizado:")
print(df_iris_normalizado.describe())

# Describir el DataFrame estandarizado
print("\nDescripción del DataFrame estandarizado:")
print(df_iris_estandarizado.describe())

Descripción del DataFrame original:
       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count         150.000000        150.000000         150.000000
mean            5.843333          3.057333           3.758000
std             0.828066          0.435866           1.765298
min             4.300000          2.000000           1.000000
25%             5.100000          2.800000           1.600000
50%             5.800000          3.000000           4.350000
75%             6.400000          3.300000           5.100000
max             7.900000          4.400000           6.900000

       petal width (cm)      target  sepal total
count        150.000000  150.000000   150.000000
mean           1.199333    1.000000    17.822867
std            0.762238    0.819232     3.361854
min            0.100000    0.000000    10.000000
25%            0.300000    0.000000    15.660000
50%            1.300000    1.000000    17.660000
75%            1.800000    2.000000    20.325000
max            2.500000    2.000000    30.020000

Descripción del DataFrame normalizado:
       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count         150.000000        150.000000         150.000000
mean            0.428704          0.440556           0.467458
std             0.230018          0.181611           0.299203
min             0.000000          0.000000           0.000000
25%             0.222222          0.333333           0.101695
50%             0.416667          0.416667           0.567797
75%             0.583333          0.541667           0.694915
max             1.000000          1.000000           1.000000

       petal width (cm)      target  sepal total
count        150.000000  150.000000   150.000000
mean           0.458056    0.500000     0.390753
std            0.317599    0.409616     0.167925
min            0.000000    0.000000     0.000000
25%            0.083333    0.000000     0.282717
50%            0.500000    0.500000     0.382617
75%            0.708333    1.000000     0.515734
max            1.000000    1.000000     1.000000

Descripción del DataFrame estandarizado:
       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count       1.500000e+02      1.500000e+02       1.500000e+02
mean       -4.736952e-16     -7.815970e-16      -4.263256e-16
std         1.003350e+00      1.003350e+00       1.003350e+00
min        -1.870024e+00     -2.433947e+00      -1.567576e+00
25%        -9.006812e-01     -5.923730e-01      -1.226552e+00
50%        -5.250608e-02     -1.319795e-01       3.364776e-01
75%         6.745011e-01      5.586108e-01       7.627583e-01
max         2.492019e+00      3.090775e+00       1.785832e+00

       petal width (cm)        target   sepal total
count      1.500000e+02  1.500000e+02  1.500000e+02
mean      -4.736952e-16 -1.421085e-16  1.172396e-15
std        1.003350e+00  1.003350e+00  1.003350e+00
min       -1.447076e+00 -1.224745e+00 -2.334746e+00
25%       -1.183812e+00 -1.224745e+00 -6.455107e-01
50%        1.325097e-01  0.000000e+00 -4.860779e-02
75%        7.906707e-01  1.224745e+00  7.467653e-01
max        1.712096e+00  1.224745e+00  3.640252e+00