# Manipulación de datos (Ejercicios 1)

In [30]:
from sklearn.datasets import load_iris
df_iris = load_iris(as_frame=True).frame
df_iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

**Ejercicio 1.** Visualiza las primeras 10 ocurrencias del dataset.

In [4]:
df_iris.head(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
5,5.4,3.9,1.7,0.4,0
6,4.6,3.4,1.4,0.3,0
7,5.0,3.4,1.5,0.2,0
8,4.4,2.9,1.4,0.2,0
9,4.9,3.1,1.5,0.1,0

**Ejercicio 2.** Muestra información general del dataset como el número de entradas, el nombre de las columnas, el número de nulos, y el tipo de cada columna. *Utliza únicamente una función*

In [10]:
def info(df):
    print('Número de entradas: ', df.shape[0])
    print('Número de columnas: ', df.shape[1])
    print('Número de nulos: ', df.isnull().sum().sum())
    print('Tipo de cada columna: \n', df.dtypes)

info(df_iris)
# .sum() calcula el número de valores nulos por columna (ya que True cuenta como 1 y False como 0).
# .sum().sum() suma los valores nulos de todas las columnas, obteniendo el total de valores nulos en el DataFrame.

Número de entradas:  150
Número de columnas:  5
Número de nulos:  0
Tipo de cada columna:
 sepal length (cm)    float64
sepal width (cm)     float64
petal length (cm)    float64
petal width (cm)     float64
target                 int64
dtype: object

**Ejercicio 3.** En la columna target, el número 0 corresponde a la etiqueta 'setosa', el 1 a 'versicolor' y el 2 a 'virginica'. Modifica el dataset para que aparezcan los nombres en vez de los números.

In [69]:
# Crear un diccionario para mapear los valores numéricos a los nombres de las clases
label_mapping = {0: 'setosa', 1: 'versicolor', 2: 'virginica'}
# Reemplazar los valores de la columna target con los nombres de las clases
df_iris['target'] = df_iris['target'].map(label_mapping)

# Mostrar los primeros registros del dataframe modificado
print(df_iris['target'])

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: target, Length: 150, dtype: object

**Ejercicio 4.** Utilizando LabelEncoder transforma la columna target a valores numéricos.

In [39]:
from sklearn.preprocessing import LabelEncoder

In [67]:
# Crear un LabelEncoder
label_encoder = LabelEncoder()

# Transformar la columna target (valores categóricos a numéricos)
df_iris['target'] = label_encoder.fit_transform(df_iris['target'])
print(df_iris['target'].head())

# Mostrar la relación entre los valores numéricos y las clases originales
print("Clases originales:", label_encoder.classes_)

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64
Clases originales: ['setosa' 'versicolor' 'virginica']

**Ejercicio 5.** Utilizando LabelEncoder vuelve a transformarlo en características nominativas. Posteriormente, dejalo con números otra vez.

In [70]:
# Mostrar las primeras filas del dataframe original
print("Datos originales:")
print(df_iris['target'].head())

# Inicializar el LabelEncoder
label_encoder = LabelEncoder()

# Convertir todas las columnas (que sean categóricas) en etiquetas numéricas
df_iris['target'] = label_encoder.fit_transform(df_iris['target'])

# Mostrar los datos con la columna categórica convertida
print("\nDatos con 'target' transformada a numérica:")
print(df_iris['target'].head())

# Convertir la columna numérica de vuelta a sus valores originales
df_iris['target'] = label_encoder.inverse_transform(df_iris['target'])

# Mostrar los datos con la columna 'target' restaurada a su forma original
print("\nDatos con 'target' restaurada a la forma original:")
print(df_iris['target'].head())

Datos originales:
0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: target, dtype: object

Datos con 'target' transformada a numérica:
0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

Datos con 'target' restaurada a la forma original:
0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: target, dtype: object

**Ejercicio 6.** Comprueba el número de ocurrencias de cada uno de los valores de la característica *target*.

In [71]:
# Comprobar el número de ocurrencias de cada uno de los valores de 'target'
target_counts = df_iris['target'].value_counts()

# Mostrar las ocurrencias de cada valor de 'target'
print(target_counts)

target
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

**Ejercicio 7.** Identifica aquellas columnas que tengan algún valor nulo.

In [72]:
# Identificar las columnas que tienen valores nulos
null_columns = df_iris.isnull().sum()

# Mostrar las columnas con valores nulos
print(null_columns[null_columns > 0])

Series([], dtype: int64)

**Ejercicio 8.** Crea una columna llamada 'sepal total' que contenga el resultado de multiplicar 'sepal length' por 'sepal width'

**Ejercicio 9.** Elimina la columna que hemos creado anteriormente.

**Ejercicio 10.** Normaliza entre 0 y 1 los valores de todas las columnas. No modifiques el anterior dataframe, y crea uno nuevo indicando que está normalizado, por ejemplo con el nombre 'df_iris_normalizado'

**Ejercicio 11.** Estandariza los valores de todas las columnas. No modifiques el anterior dataframe, y crea uno nuevo indicando que está estandarizado, por ejemplo con el nombre 'df_iris_estandarizado'

**Ejercicio 12.** Describe las variables del dataframe sin normalizar, del dataframe normalizado y del dataframe estandarizado.